:root {
  --brand-100: #e6eaec;
  --brand-200: #c7d1d1;
  --common-light-100: #f8f6f7;
  --brand-300: #abb5b8;
  --brand-400: #949fa1;
  --brand-500: #849193;
  --brand-600: #7a8a8d;
  --brand-700: #67787a;
  --brand-800: #586a6e;
  --brand-900: #445e60;
  --accent-100: #e1eae6;
  --accent-200: #c8d1ce;
  --accent-300: #acb8b2;
  --accent-400: #93a29b;
  --accent-500: #83958c;
  --accent-600: #7a8e85;
  --accent-700: #687a72;
  --accent-800: #5a6e64;
  --accent-900: #486054;

  --common-light-0: #ffffff;
  --brand-0: #eeeeee;

  --common-transparent-0: rgba(255, 255, 255, 0);
  --common-transparent-100: rgba(255, 255, 255, 0.1);
  /* 10% opacity */
  --common-transparent-200: rgba(255, 255, 255, 0.2);
  /* 20% opacity */
  --common-transparent-300: rgba(255, 255, 255, 0.3);
  /* 30% opacity */
  --common-transparent-400: rgba(255, 255, 255, 0.4);
  /* 40% opacity */
  --common-transparent-500: rgba(255, 255, 255, 0.5);
  /* 50% opacity */
  --common-transparent-600: rgba(255, 255, 255, 0.6);
  /* 60% opacity */
  --common-transparent-700: rgba(255, 255, 255, 0.7);
  /* 70% opacity */
  --common-transparent-800: rgba(255, 255, 255, 0.8);
  /* 80% opacity */
  --common-transparent-900: rgba(255, 255, 255, 0.9);
  /* 90% opacity */


  --common-dark-900: #3d444a;
  --common-dark-800: #5f646a;
  --common-dark-700: #6d7175;
  --common-dark-600: #7f8488;
  --common-dark-500: #888b8d;
  --common-dark-400: #999a9a;
  --common-dark-300: #d7d7d7;
  --common-dark-200: #e0e0e0;
  --common-dark-100: #e7e7e7;
  --common-dark-0: #f0f0f0;
}