/* Mobile-specific variables */
:root {
  --current-size: "mobile";
  --card-border-radious: 4px;
  --button-border-radious: 4px;
  --font-font-size-h1-font-size: 36px;
  --font-font-size-h2-font-size: 32px;
  --font-font-size-h3-font-size: 24px;
  --font-line-heigh-h1: 48px;
  --font-line-heigh-h2: 40px;
  --font-line-heigh-h3: 30px;
  --font-line-heigh-body: 22px;
  --font-line-heigh-button: 20px;
  --font-font-size-body-font-size: 18px;
  --font-font-size-button-font-size: 16px;
  --spacing-xs: 6px;
  --spacing-x: 10px;
  --spacing-s: 14px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 40px;
  --button-min-width: 150px;
  --max-text-column-width: 300px;
  --button-max-width: 350px;
  --spacing-4xl: 48px;
  --font-line-heigh-header: 20px;
  --font-font-size-body-mini-font-size: 12px;
  --font-line-heigh-body-mini: 16px;
}


/* Tabler-specific variables */
@media (min-width: 641px) {
  :root {
    --current-size: "tablet";
    --card-border-radious: 4px;
    --button-border-radious: 4px;
    --font-font-size-h1-font-size: 48px;
    --font-font-size-h2-font-size: 40px;
    --font-font-size-h3-font-size: 28px;
    --font-line-heigh-h1: 60px;
    --font-line-heigh-h2: 50px;
    --font-line-heigh-h3: 36px;
    --font-line-heigh-body: 24px;
    --font-line-heigh-button: 22px;
    --font-font-size-body-font-size: 20px;
    --font-font-size-button-font-size: 18px;
    --spacing-xs: 8px;
    --spacing-x: 12px;
    --spacing-s: 16px;
    --spacing-m: 20px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 60px;
    --button-min-width: 150px;
    --max-text-column-width: 500px;
    --button-max-width: 350px;
    --spacing-4xl: 64px;
    --font-line-heigh-header: 22px;
    --font-font-size-body-mini-font-size: 14px;
    --font-line-heigh-body-mini: 18px;
  }
}

/* Desktop-specific variables */
@media (min-width: 1280px) {
  :root {
    --current-size: "desktop";
    --card-border-radious: 4px;
    --button-border-radious: 4px;
    --font-font-size-h1-font-size: 54px;
    --font-font-size-h2-font-size: 50px;
    --font-font-size-h3-font-size: 32px;
    --font-line-heigh-h1: 60px;
    --font-line-heigh-h2: 56px;
    --font-line-heigh-h3: 38px;
    --font-line-heigh-body: 28px;
    --font-line-heigh-button: 20px;
    --font-font-size-body-font-size: 22px;
    --font-font-size-button-font-size: 20px;
    --spacing-xs: 8px;
    --spacing-x: 12px;
    --spacing-s: 16px;
    --spacing-m: 20px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --spacing-3xl: 64px;
    --button-min-width: 200px;
    --max-text-column-width: 990px;
    --button-max-width: 350px;
    --spacing-4xl: 96px;
    --font-line-heigh-header: 24px;
    --font-font-size-body-mini-font-size: 16px;
    --font-line-heigh-body-mini: 20px;
  }
}