.burger {
  display: block;

  width: 30px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.burger-line {
  height: 3px;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  background-color: var(--default-text);
  outline: 1px solid transparent;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger .line2 {
  top: 10px;
}

.burger .line3 {
  top: 20px;
}

/* First line animation */
.burger.open .line1 {
  transform: translateY(10px) rotate(45deg);
}

/* Second line animation */
.burger.open .line2 {
  opacity: 0;
}

/* Third line animation */
.burger.open .line3 {
  transform: translateY(-10px) rotate(-45deg);
}