.heroContainer {
  color: var(--default-text);
  display: flex;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  padding: var(--spacing-2xl) 0;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  width: 100%;
  height: 100%;
  justify-content: start;
}

.text>* {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

/* tablet layout */
@media (max-width: 899px) and (orientation: portrait),
(max-height: 899px) and (orientation: landscape) {
  .heroContainer {
    align-items: center;
  }

  .hero {
    width: 100%;
  }

  .text {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* desktop layout */
@media screen and (min-width: 1280px) {
  .heroContainer {
    align-items: center;
    padding-top: 0;
  }

  .hero {
    width: 40%;
    justify-content: center;
  }

  .text {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 899px) and (orientation: portrait),
(max-height: 899px) and (orientation: landscape) {
  .hero {
    width: 50%;
  }
}

@media (max-width: 640px) and (orientation: portrait),
(max-height: 640px) and (orientation: landscape) {
  .hero {
    width: 100%;
  }
}