.headerWrapper {
  z-index: 30;
}

.churchLogo {
  color: var(--common-light-100);
}

.onlyDesktop {
  display: none;
}

/* desktop layout */
@media screen and (min-width: 1280px) {
  .onlyDesktop {
    display: flex;
  }
}

.contacts {
  justify-content: center;
  flex-direction: column;
}

.navigatonItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--common-light-100);
  transition: all 0.2s ease-in-out;
}

.navigatonItem:hover {
  color: var(--hover-navigation-item);
}

.sticky {
  position: fixed;
  top: 0;
  padding-top: 0;
  justify-content: center;
}

.hide {
  display: none;
}