.slimHeaderWrapper {
  opacity: 0.85;
  background-color: var(--common-light-0);
  height: 42px;
  align-items: center;
  z-index: 20;
}

.slimHeader {
  width: 100vw;
  background-color: var(--common-light-0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  padding-top: 0;
}

.navigatonItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

.navigatonItem:hover {
  color: var(--hover-navigation-item);
}