/* default link styles[on light] */
.link {
  color: var(--default-components-link-fg);
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;

  font-size: var(--font-font-size-body-font-size);
  line-height: var(--font-line-heigh-body);
  font-family: var(--font-raleway-regular);

  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-feature-settings: 'lnum' 1;
  text-shadow: inherit;
}


.link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  opacity: 1;
  background-color: var(--default-components-link-fg);
  transition: color .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.link:hover {
  opacity: 0.8;
  color: var(--hover-components-link-fg);
}

.link:hover::before {
  opacity: 0.8;
  background-color: var(--hover-components-link-fg);
}



/* Headings */
.link--h1::before {
  height: 3px;
}

.link--h2::before {
  height: 2px;
}

.link--h3::before {
  height: 2px;
}