.linkContainer {
  width: fit-content;
  vertical-align: text-bottom;
}

.externalIcon {
  display: inline-block;
  width: var(--line-height);
  height: auto;
  position: relative;
  color: var(--default-components-link-fg);
  transition: all .3s ease-in-out;
}


/* default link styles[on light] */
.link {
  color: var(--default-components-link-fg);
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;

  font-size: var(--font-font-size-body-font-size);
  line-height: var(--font-line-heigh-body);
  font-family: var(--font-raleway-regular);

  position: relative;
  margin: 0;
  padding: 0;
  font-feature-settings: 'lnum' 1;
  text-shadow: inherit;
}


.link {
  display: inline;
  border-bottom: 1px solid var(--default-components-link-fg);
  transition: all .3s ease-in-out;
  align-items: center;
}

.link:hover {
  color: var(--hover-components-link-fg);
  border-bottom: 1px solid var(--hover-components-link-fg);

  .externalIcon {
    color: var(--hover-components-link-fg);
  }
}



/* Headings */
.link--h1::before {
  height: 3px;
}

.link--h2::before {
  height: 2px;
}

.link--h3::before {
  height: 2px;
}


/* Headings */
.link--h1 {
  font-size: var(--font-font-size-h1-font-size);
  font-weight: 500;
  line-height: var(--font-line-heigh-h1);
  font-family: var(--font-bebas-regular);
  --line-height: var(--font-font-size-h1-font-size);
}

.link--h2 {
  font-size: var(--font-font-size-h2-font-size);
  font-weight: 500;
  line-height: var(--font-line-heigh-h2);
  font-family: var(--font-bebas-regular);
  --line-height: var(--font-font-size-h2-font-size);
}

.link--h3 {
  font-size: var(--font-font-size-h3-font-size);
  font-weight: 500;
  line-height: var(--font-line-heigh-h3);
  font-family: var(--font-bebas-regular);
  --line-height: var(--font-font-size-h3-font-size);
}

/* Body */
.link--body {
  font-size: var(--font-font-size-body-font-size);
  line-height: var(--font-line-heigh-body);
  font-family: var(--font-raleway-regular);
  --line-height: var(--font-font-size-body-font-size);
}

.link--body-mini {
  font-size: var(--font-font-size-body-mini-font-size);
  line-height: var(--font-line-heigh-body-mini);
  font-family: var(--font-raleway-regular);
  --line-height: var(--font-font-size-body-mini-font-size);
}

.link--bold {
  font-weight: 600;
  font-family: var(--font-raleway-semibold);
  --line-height: var(--font-font-size-body-font-size);
}