.eventCardContainer {
  position: relative;
  display: flex;
  height: 100%;
}

.eventCardContainer.horizontalOrientation {
  flex-direction: row-reverse;
  gap: var(--spacing-s);
}

.eventCardContainer.verticalOrientation {
  flex-direction: column-reverse;
  gap: var(--spacing-s);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  flex: 1;
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.imageContainer {
  position: relative;
  display: flex;
  height: 100%;
  flex: 1 1;
}

.image {
  position: relative !important;
  height: 100%;
  width: 100%;
  color: transparent;
}

.additionaldetails .place>*,
.additionaldetails .time>*,
.additionaldetails .date>* {
  display: inline-block;
}