.root {
  display: flex;
  justify-content: center;
  padding: var(--spacing-3xl) 0;
  color: var(--default-text);
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: fit-content;
  gap: var(--spacing-l);
}

.card,
.content {
  flex: 1;
  max-width: 500px;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* tablet-min layout */
@media screen and (min-width: 641px) {
  .container {
    flex-direction: column-reverse;
  }
}

/* tablet-max layout */
@media screen and (min-width: 899px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}

/* desktop layout */
@media screen and (min-width: 1280px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}