.heroContainer {
  color: var(--default-text);
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: center;
}

.videoWrapper {
  display: flex;
  justify-content: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  gap: var(--spacing-s);
  display: flex;
  flex-direction: column;
}


@media (max-width: 899px) {
  .textWrapper {
    align-items: start;
  }
}