.menuButtonContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.menuButtonLabel {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateX(0);
  margin-right: 2px;
}

.menuButtonLabel.hidden {
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
}